@use '../util/' as u;

footer {
    &.wrapper {
        display: grid;
        justify-items: center;
        padding-block-start: 0 !important;
        padding-block-end: 20px;

        @include u.breakpoint(medium) {
            display: flex;
            justify-content: space-between;
        }
    }

    & .bottom {
        &__nav-links {
            margin-left: 0;
            padding-left: 0;
        }

        &__nav-item {
            list-style: none;

            & a {
                color: var(--color-text);
            }

            & a:hover {
                text-decoration: underline;
            }
        }
    }
}