@use '../util/' as u;

.wpcf7-form,
.comment-form {
    display: grid;
    justify-items: center;
    gap: 20px;

    & .inputs {

        width: 100%;
        max-width: 539px;
        display: grid;
        justify-items: center;
        gap: 20px;

        @include u.breakpoint(medium) {
            grid-template-columns: repeat(2, 1fr);
        }


    }

    & p {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    & input,
    textarea {
        width: 100%;
        border: 0;
        border-bottom: 2px solid transparent;
        border-radius: 8px 8px 0 0;
        outline: 0;
        font-size: 1.3rem;
        color: #fff;
        padding: 7px;
        background: var(--color-accent2);
        transition: 150ms ease-in-out;
        transition-property: background-color, border-color;



        &:placeholder-shown~.form__label {
            font-size: 1.3rem;
            cursor: text;
        }

        &:required,
        &:invalid {
            box-shadow: none;
        }

        &:focus {

            padding-bottom: 6px;
            font-weight: 700;
            border-width: 3px;
            border-image: linear-gradient(to right, var(--color-accent), var(--color-text));
            border-image-slice: 1;
        }

        &:hover {
            background-color: var(--color-accent2-hover);
        }

        &[type="submit"] {
            border-radius: 8px;
            cursor: pointer;
        }
    }
}